* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/spacebg.png);
    background-repeat: repeat;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

img {
    width: 250px;
    height: 250px;
}

.transition {
    transition: 1.5s;
}

.container {    
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 100px;
    overflow: hidden;
}

.children {
    border: 5px solid blue;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
}

p {
    border: 10px solid red;
    margin: 80px 0;
}


.desktop, .ipadPro, .ipad, .phone {
    position: absolute;
}

.ipadPro, .ipad, .phone {
    opacity: 0;
}

.ipadPro p, .ipadPro .moon {
    transform: translateY(-1500px);
}



@media screen and (max-width: 800px) {
    /* Desktop */
    .rocket {
        transform: translateY(-1500px);
    }

    .earth, .desktop {
        opacity: 0;     
    }
    /* Desktop */

    .ipadPro {
        opacity: 1;
    }

    .ipadPro p {
        font-size: 30px;
    }

    .ipadPro img {
        width: 200px;
        height: 200px;
    }

    .ipadPro p, .ipadPro .moon {
        transform: translateY(0);
    }

    .ipadPro .astronaut {
        transform: rotate(720deg) translateY(100px);
    }
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 400px) {
    
}